* {
	margin: 0;
	padding: 0;
}


.body {
    font-family:'NicolasJensonSGOTStd-Regular' , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
   
}



.main {
	/*margin-top: 1000px;*/
    
	
}