
/*contacto*/

.contacto{
    padding: 16px; 
    margin: 150px 0px 33%; 
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.contacto2 {
    padding: 3rem 0;
}