.incio1 {
    
    

}


.flex {
	display: flex ;
}


    
.card {
	background-color: #f2f1e1;
    color: #000;
    width: 35%;
     
    padding: 16px; 
    margin: 150px 0px 0px 33%; 
    border: 1px solid black; 

    

    border-radius: 10px;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .card__imagen {

        width: 100%;
        max-height: 200px;
        border-radius: 10px;
        margin-bottom: 16px;
    
    }

    .card__titulo {
    

    }


   
    
}




.inicio2 {

    width: 100%;
    height: 500px;
    position: relative;

}

.intro {
    background-color: #f2f1e1;
    width: 100%;
    height: 100%;
    margin: 80px 0px 80px 0px;
    padding: 0px 0px 0px 0px;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;

    .intro__titulo2 {
        padding: 20px;
        
        
         display: flex;
         flex-direction: column; 
         align-items: center;
     
     }

     .intro__parrafo2 {
    
        padding: 10px 100px 10px 100px ;
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }

}








.inicio3 {

}

.media {
    background-image: url(../imagenes/fondovideo.png);
    background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding: 30px 0pc 0px 0px;
	margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .media__video {
        width: 25%;
        height: 300px; 
        border-radius: 20px;
        padding: 5px 0pc 5px 5px;
        margin: 10px 0px 5px 35px;
    
        
        object-fit: cover;
        
    
         
    
    
    
    }
    
    .media__parrafo3 {
        width: 60%;
        height: 100px;
        padding: 5px 0pc 5px 20px;
        margin: 10px 0px 180px 20px;
        display: flex;
        
    
       
    
    
    }
     .media__parrafo3--top {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
     }

}






/* lo tanajado con boostrap*/

.carousel-item img {
    height: 500px;
    object-fit: cover;
}
  
.contacto2 {
    padding: 9rem 0rem 0rem 0rem;
}

.inicioboostrap {
    
    padding: 2rem 0;

}